[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.1.2"
django-crispy-forms = "==1.9.2"
environs = {extras = ["django"], version = "==11.0.0"}
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
